# Flask and general web libraries
Flask
gunicorn
Jinja2

# Streamlit-specific libraries
streamlit

# Google generative AI (for both Flask/Streamlit)
google-generativeai

# Other common dependencies
python-dotenv
Pillow
